@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,900;1,600&family=Merriweather+Sans&display=swap');

$title-font: 'Exo 2', sans-serif;
$body-font: 'Merriweather Sans', sans-serif;
$yellow: hsl(44, 100%, 77%);
$purple: hsl(271, 100%, 71%);

// If need, change your variables before importing Bulma
$dark-bg: #202124;
$font-color: #e8eaed;
$title-color: #ffffff;

$family-sans-serif: $body-font;
$body-background-color: $dark-bg;
$body-color: $font-color;
$title-family: $title-font;

$navbar-item-color: #ffffff;
$link: $yellow;
$link-hover: $purple;
$content-heading-color: $yellow;
$text-strong: #ffffff;
$content-blockquote-background-color: #000000;

@import "~bulma/bulma.sass";